<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <link href='/favicon.png' rel='icon' type='image/png'>

        <title><%= current_page.data.title || "Factor.io Docs" %></title>

        <style>
          <%= Rouge::Themes::Github.render(scope: '.highlight') %>
        </style>

        <%= stylesheet_link_tag "application" %>
        <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' %>

        
        <%= javascript_include_tag "//code.jquery.com/jquery-2.1.3.min.js" %>
        <%= javascript_include_tag "//code.jquery.com/ui/1.11.2/jquery-ui.min.js" %>
        <%= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" %>
        <%= javascript_include_tag "application" %>
    </head>

    <body class="<%= page_classes %>">
        <div id='banner'>
          <div id='container'>
              <div id='header'>
                  <a class='logo' href="/"></a>
                  <a href='https://factor.io/users/sign_in'> Login</a>
                  <a href='https://factor.io/users/sign_up'> Signup</a>
                  <a href='http://blog.factor.io/'> Blog</a>
              </div>
          </div>
      </div>
      <div id='title'>
          <% category = current_page.metadata[:page]['category'] %>
          <div id='container' class="<%= 'sub' if category %>">
              <h2><%= current_page.data.title || "Factor.io Docs" %></h2>
              <% if category %>
                <h3><%= category %></h3>
              <% end %>
          </div>
      </div>


        <div id='docs'>
            <div id='container'>
                <div role='navigation'>
                  <%= partial 'navigation' %>
                </div>
                <div role="main">
                  <% if current_page.metadata[:page]['status'] %>
                    <% status = current_page.metadata[:page]['status'] %>
                    <% message = status %>
                    <% state, message = 'danger', "This page has not yet been started" if status=='not started' %>
                    <% state, message = 'danger', "This page is incomplete" if status=='incomplete' %>
                    <% state, message = 'warning', "This page requires revision and may be inaccurate" if status=='revise' %>
                    <div class='alert alert-<%=state%>'><strong><%=message %>.</strong> We are working on adding contents. You can help us improve the contents using the 'Edit this page on Github' button at the bottom.</div>
                  <% end %>
                  <%= yield %>
                  <% if current_page.metadata[:page]['order'] %>
                    <% next_page = sitemap.resources.find{|page| page.metadata[:page]['category']==current_page.metadata[:page]['category'] && page.metadata[:page]['order']==current_page.metadata[:page]['order'] + 1} %>
                    <% previous_page = sitemap.resources.find{|page| page.metadata[:page]['category']==current_page.metadata[:page]['category'] && page.metadata[:page]['order']==current_page.metadata[:page]['order'] - 1} %>

                    <% if next_page %>
                      <a href="/<%= next_page.path %>" class='step_link button'><%= next_page.data.title %></a>
                    <% end %>
                    <% if previous_page %>
                      </br>
                      <a href="/<%= previous_page.path %>" class='step_link'>Previous: <%= previous_page.data.title %></a>
                    <% end %>
                  <% end %>

                  <div class='edit'>
                    
                    <% source_paths = current_page.source_file.split('/') %>
                    <% path = source_paths[source_paths.index('source')+1..-1] %>
                    <% code_url = "https://github.com/factor-io/docs/tree/master/source/#{path.join('/')}" %>
                    <a href="<%=code_url%>">
                      <i class='fa fa-github fa-fw'></i>
                      Edit this page on Github
                    </a>

                  </div>
                </div>
            </div>

        </div>


        <%= partial 'footer' %>
    </body>
</html>