!!!
%html(lang='en')
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %link(href='/favicon.png' rel='icon' type='image/png')

    %title= current_page.data.title || "Factor.io Docs"
    %style
      = Rouge::Themes::Github.render(scope: '.highlight')
    = stylesheet_link_tag "application"
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'

    
    = javascript_include_tag "//code.jquery.com/jquery-2.1.3.min.js"
    = javascript_include_tag "//code.jquery.com/ui/1.11.2/jquery-ui.min.js"
    = javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"
    = javascript_include_tag "application"

  %body(class="#{page_classes}")
    #banner
      #container
        #header
          %a.logo(href='/')
          %a(href='https://factor.io/users/sign_in') Login
          %a(href='https://factor.io/users/sign_up') Signup
          %a(href='http://blog.factor.io/') Blog
    #title
      -category = current_page.metadata[:page]['category']
      #container(class="#{'sub' if category}")
        %h2= current_page.data.title || 'Factor.io Docs'
        - if category
          %h3= category
    #docs
      #container
        %div(role='navigation')
          = partial 'navigation'
        %div(role='main')
          - if current_page.metadata[:page]['status']
            - status = current_page.metadata[:page]['status']
            - message = status
            - state, message = 'danger', "This page has not yet been started" if status=='not started'
            - state, message = 'danger', "This page is incomplete" if status=='incomplete'
            - state, message = 'warning', "This page requires revision and may be inaccurate" if status=='revise'
            .alert(class="alert-#{state}")
              %strong= message
              We are working on adding contents. You can help us improve the contents using the 'Edit this page on Github' button at the bottom.
          = yield
          -if current_page.metadata[:page]['order']
            - next_page = sitemap.resources.find{|page| page.metadata[:page]['category']==current_page.metadata[:page]['category'] && page.metadata[:page]['order']==current_page.metadata[:page]['order'] + 1}
            - previous_page = sitemap.resources.find{|page| page.metadata[:page]['category']==current_page.metadata[:page]['category'] && page.metadata[:page]['order']==current_page.metadata[:page]['order'] - 1}
            - if next_page
              %a.step_link.button(href="/#{next_page.path}")= next_page.data.title
            - if previous_page
              %a.step_link.button(href="/#{previous_page.path}")= previous_page.data.title
          .edit
            - source_paths = current_page.source_file.split('/')
            - path = source_paths[source_paths.index('source')+1..-1]
            - code_url = "https://github.com/factor-io/docs/tree/master/source/#{path.join('/')}"
            %a(href=code_url)
              %i.fa.fa-github.fa-fw
              Edit this page on Github
    = partial 'footer'

